* {
    box-sizing: border-box;
    padding: 0;
}

;

*,
body {
    margin: 0;
}

body {
    -webkit-font-smoothing: antialiased;
}

/* Nav */

.nav {
    height: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #f0f8c5;
    min-height: 3.75rem;
    font-size: 1rem;
    line-height: 1.3rem;
    padding: 0 1rem;
}

.nav-logo {
    font-weight: bold;
}

.nav-item {
    text-align: center;
    color: black;
    display: inline;
    font-size: 1rem;
    justify-content: space-between;
    height: 5px;
    margin: 10px;
    padding: 10px;
}

.nav-item {
    text-decoration: none;
    margin: 1rem;
    position: relative;
    opacity: 0.9;
    color: #000000;
}



.nav-item:hover {
    opacity: 1;
}

.nav-item::before {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 0;
    height: 2px;
    background-color: #000000;
    transition: all 0.4s;
}

.nav-item:hover::before {
    width: 100%;
}

/* END NAV */